<div class="about-main">
  <div class="content container">
    <h1>Relive your shit old life</h1>
  </div>
</div>
<div class="about-supporting">
  <div class="container">
    <h2>Don't do those sorts</h2>
    <p>We do it all for you so you can be lazy shit</p>
    <p><%= link_to "sign up", about_path, class: "btn btn-primary" %></p>
  </div>
</div>