<div class="home-main">
  <div class="container">
		<div class="row">
      <div class="content cold-md-6 col-md-offset-6">
        <h1>Create and share Stories</h1>
        <p><%= link_to "Learn more", about_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<div class="home-supporting">
  <div class="container">
    <h2>Relive some shit you already did</h2>
    <p>You're now old suck a duck.</p>
  </div>
</div>
<div class="home-secondary">
  <div class="container">
  </div>
</div>
<div class="home-about">
  <div class="container">
    <h2>Look at some shit</h2>
    <p><%= link_to "Learn more", about_path, class: "btn btn-primary" %></p>
  </div>
</div>